.wishlist .card {
    width: 270px;
    max-height: 500px;
    overflow: hidden;
    padding-bottom: 10px;
    position: relative;
    margin: 30px 0px 10px 30px !important;
    border-radius: 20px;
}

.wishlist .discount {
    position: absolute;
    top: 30px;
    left: -30px;
    width: 170px;
    height: 30px;
    transform: rotate(-35deg);
}

.wishlist .detailsBtn {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    font-size: 20px;
    transition: .1s linear all;
    background-color: blueviolet;
    border: 1px solid #eee;
    width: fit-content;
    height: 50px;
    padding: 10px;
    border-radius: 20px;
    color: #eee;
    text-decoration: none;
    font-weight: bold;
}

.wishlist .card:hover .detailsBtn {
    visibility: visible;
    opacity: 1;

}

@media (max-width:900px) {
    .wishlist .card {
        padding: 5px;
    }

    .wishlist .detailsBtn {

        font-size: 15px;
        width: 100px;
        height: 40px;
    }
}