.searchForm{
    position: relative;
}
.searchResultBox{
    width:220px;
    max-height:400px;
    background-color: rgba(83, 101, 92, 0.615);
    position: absolute;
    top: 50px;
    left: 0px;
    list-style: none;
    color: #eee;
    overflow: auto;
}
.searchResultBox li{
    color: #eee !important;
    height: fit-content;
    overflow: hidden;
    padding:5px 0;
}
.searchResults{
    transition: all .2s  linear;
    color:"#eee";
    text-decoration:"none";
}
.searchResults :hover{
color:blueviolet ;}