.ProductDetails .cartBtn{
    background-color: #7E35B9;
}
.ProductDetails .cover{
width: 70%;
height: 100%;
background-color: #eee;
margin:50px auto;
padding: 10px;
border-radius: 15px;
}
.quantityMenu{
    width: 200px;
    height: 34px;

    padding:0 5px;
    border-radius: 15px;

}
