.cartIcon {
    color: black;
    position: relative;
    font-size: 20px;
    margin: 0;
}

.cartQuantityAnimation {
    animation: cartIconScale 300ms ease-out;
}

@keyframes cartIconScale {
    0% {
        transform: scale(1);
    }

    20% {
        transform: scale(0.8);
    }

    30% {
        transform: scale(1.1);
    }

    50% {
        transform: scale(1.7);
    }

    100% {
        transform: scale(1);
    }
}

.cartCount {

    position: absolute;
    display: inline-block;
    color: rgb(251, 248, 248) !important;
    background-color: red !important;
    width: 15px;
    height: 13px;
    border-radius: 50%;
    text-align: center;
    margin-left: 5px;
}