.lottieHandler {
    font-size: larger;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.LottieAnimation {
    margin-top: 100px;

    width: 300px;
}