.navbar {
    background-color: #f9f3f09e;
    position: sticky;
    top: 0;
    width: 100%;
    box-shadow: 0px 0px 15px 1px #be9782;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 23;

}

.navbar .linkHover {
    position: relative;
    margin: 0 10px;
}

.wishlistNav {
    margin: 0px 20px;
    font-size: 20px;

}

.wishlistNav:hover {
    color: red;
}

.linkHover::before {
    content: '';
    position: absolute;
    right: 0px;
    bottom: 8px;
    background-color: rgba(0, 0, 0, 0.484);
    width: 0px;
    height: 2px;
    transform: .4s linear;
    margin-bottom: -2px;
}

.linkHover:hover::before {

    animation: underline linear .4s forwards;
}

@keyframes underline {
    from {
        width: 0px;
        height: 1px;
    }

    to {

        width: 90%;
        height: 2px;
    }
}

.navbar-nav .dropdown-menu {
    max-height: fit-content !important;
    width: 470px;
    background-color: #f3eae5cd;
    box-shadow: 0px 0px 5px 1px #c5aea2;

}

.wrapper {
    display: flex;
    flex-wrap: wrap;
}

.categoriesDropdown {
    width: calc(600px / 4);
    margin: 0 auto;
    box-sizing: border-box;
    transition: all .1s linear;
}

.categoriesDropdown:hover {
    background-color: #c5aea24a;
    overflow: hidden;
    border-radius: 10px;
}

.showSearchIcon {
    background-color: inherit;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    transition: .2s linear;
}

.showSearchIcon:hover,
.showSearchIcon:active {
    background-color: inherit !important;

}

@media (max-width:990px) {
    .navbar {
        height: 100% !important;
    }

    .wrapper {
        display: block;
    }

    .categoriesDropdown {
        width: calc(100% / 1);

    }

    .navbar-nav .dropdown-menu {
        height: 100% !important;
        width: 90% !important;

    }

    .navbar .linkHover {
        margin: 0;
    }

    .wishlistNav {
        margin: 10px 0;
        font-size: 20px;
    }
}